.n{
    margin-top: 80px;
    color:hotpink;
    text-align: center;
    text-shadow: 2px 2px 5px red;
}
.m{
    color: hotpink;
}
.y{
    margin-top: 80px;
    color:hotpink;
    text-align: center;
    text-shadow: 2px 2px 5px red;
}
.z{
    margin-left: 100px;
    margin-right: 40px;
}





