.main-img {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 50vh;
}

.main-title {
  position: absolute;
  bottom: 0;
  padding-left: 5%;
  width: 100%;
  height: 40%;
  color: white;
  background-image: linear-gradient(to right, rgba(26, 26, 26, 0.5), rgba(255, 255, 255, 0));
}

.product-img {
  height: 150px;
}

.product-card {
  height: 450px;
  padding: 20px;
  margin: 10px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 15px 50px 30px 5px;
  background-color: white;
}

.cart-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25px;
}

.img-fit {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.sticky-cart {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 30px;
  background-color: white;
  height: 60vh;
  width: 80%;
  position: sticky;
  top: 70px;
  left: 0;
}

.cart-stuff {
  overflow-y: auto;
  height: 40vh;
}