.div-sidebyside {
    display: inline-block;
}
#quantity {
    width: 50px;
}
.container {
    text-align: center;
}
.main-img {
    background-image: url("../img/deal.png");
}
.desc {
    text-align: left;
}
#timer {
    color: red;
}