/*Test CSS */
html {
}

body {
  background-image: linear-gradient(white, #f8ceff);
  font-family: 'Fira Sans', sans-serif;
}

.text-shadow {
  text-shadow: 4px 4px 4px #aaa;
}

.hover-card {
  position: relative;
  padding: 0;
  width:100%;
  height: 250px;
  display: inline-block;
}

.shopping-cards {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 1rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.hover-card:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.card-img {
  height: 100%;
  width: auto;
}

.card-img-wide {
  width: 100%;
  height: auto;
}

.title {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  opacity: 0;
  transition: top .5s ease;
}

.hover-card:hover .title {
  top: 25%;
  opacity: 1;
}

.button {
  position: absolute;
  width: 100%;
  left:0;
  top: 60%;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.hover-card:hover .button {
  opacity: 1;
}

/* Kevin's Stuff */
.bottomblur {
  position: fixed;
  width: 100%;
  background-color: rgba(130, 130, 130, 0.2);
  z-index: 5;
  filter: blur(20px);
}

.bottomblur > * {
  visibility: hidden;
}

/* edited bootstrap code */
.drop:hover, .drop:focus {
  color: #16181b;
  text-decoration: none;
  background-color: rgba(235, 235, 235, 0.15);
}
.nav-link {
  color: white !important;
  font-weight: bold;
}

/* edited bootstrap code */
.navbg {
  background-color: rgba(232, 29, 99, 0.5);
  position: fixed;
  width: 100%;
  z-index: 10;
}

/* edited bootstrap code */
.dropmenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: rgba(232, 29, 99, 0.4);
  background-clip: padding-box;
  border: 1px solid rgba(210, 210, 210, 0.5);
  border-radius: 0.25rem;
}

.dropdown-item {
  color: white;
}

.btn-pink {
  color: #fff;
  background-color: rgb(232, 29, 99);
  border-color: rgb(232, 29, 99);
}

/* Raj's Stuff */
.bd-example{
  background-color: black;

}
.carousel-inner img {
  width: 100%;
}

.title-black {
  color: #393939;
}

.bg-jumbo{
  background-color: rgba(230, 230, 230, 0.75);
  padding: 10px;
}

.img-groceries {
  background-image: url("../img/groceries.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.img-mother {
  background-image: url("../img/mother.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.img-reward {
  background-image: url("../img/treasure.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.jumbotron {
  position: absolute;
  top:0px;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;
  background:none;
  height: auto;
  color: white;
  text-align: center;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 35px;
  width: 35px;
  outline: lavenderblush;
  background-color: rgb(232,29,99);
  background-size: 40%, 40%;
  border-radius: 50%;
  border: 1px lavenderblush;
}

.carousel-item {
  position: relative;
  height: 60vh;
}

.parallax {
  /* The image used */
  background-image: linear-gradient(white, #f8ceff);

  /* Set a specific height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*asdfasdfasdfasdf*/
/*****************************************
*  --------------------------------------*
*  Slick                                 *
*  --------------------------------------*
*****************************************/

.cl {
  height:200px;
  padding:10px;
}

.cl-yellow {
  background: #f1c40f;
}

.cl-blue {
  background: #3498db;
}

.cl-red {
  background: #e74c3c;
}

.slick-active {
  padding: 20px 0;
}

.slick-center {
  transform: scale(1.08)
}

.slick-slide:not(.slick-active) {
  padding: 20px 0;
}

.child {
  width:100%;
}

.slide:not(.slick-active) {
  cursor: pointer;
}
