/*Test CSS */
html {
}

body {
  background-image: linear-gradient(white, #f8ceff);
  font-family: 'Fira Sans', sans-serif;
}

.text-shadow {
  text-shadow: 4px 4px 4px #aaa;
}

.hover-card {
  position: relative;
  padding: 0;
  width:100%;
  height: 250px;
  display: inline-block;
}

.shopping-cards {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 1rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.hover-card:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.card-img {
  height: 100%;
  width: auto;
}

.card-img-wide {
  width: 100%;
  height: auto;
}

.title {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  opacity: 0;
  transition: top .5s ease;
}

.hover-card:hover .title {
  top: 25%;
  opacity: 1;
}

.button {
  position: absolute;
  width: 100%;
  left:0;
  top: 60%;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.hover-card:hover .button {
  opacity: 1;
}

/* Kevin's Stuff */
.bottomblur {
  position: fixed;
  width: 100%;
  background-color: rgba(130, 130, 130, 0.2);
  z-index: 5;
  filter: blur(20px);
}

.bottomblur > * {
  visibility: hidden;
}

/* edited bootstrap code */
.drop:hover, .drop:focus {
  color: #16181b;
  text-decoration: none;
  background-color: rgba(235, 235, 235, 0.15);
}
.nav-link {
  color: white !important;
  font-weight: bold;
}

/* edited bootstrap code */
.navbg {
  background-color: rgba(232, 29, 99, 0.5);
  position: fixed;
  width: 100%;
  z-index: 10;
}

/* edited bootstrap code */
.dropmenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: rgba(232, 29, 99, 0.4);
  background-clip: padding-box;
  border: 1px solid rgba(210, 210, 210, 0.5);
  border-radius: 0.25rem;
}

.dropdown-item {
  color: white;
}

.btn-pink {
  color: #fff;
  background-color: rgb(232, 29, 99);
  border-color: rgb(232, 29, 99);
}

/* Raj's Stuff */
.bd-example{
  background-color: black;

}
.carousel-inner img {
  width: 100%;
}

.title-black {
  color: #393939;
}

.bg-jumbo{
  background-color: rgba(230, 230, 230, 0.75);
  padding: 10px;
}

.img-groceries {
  background-image: url("../img/groceries.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.img-mother {
  background-image: url("../img/mother.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.img-reward {
  background-image: url("../img/treasure.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.jumbotron {
  position: absolute;
  top:0px;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;
  background:none;
  height: auto;
  color: black;
  text-align: center;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 35px;
  width: 35px;
  outline: lavenderblush;
  background-color: rgb(232,29,99);
  background-size: 40%, 40%;
  border-radius: 50%;
  border: 1px lavenderblush;
}

.carousel-item {
  position: relative;
  height: 60vh;
}

.parallax {
  /* The image used */
  background-image: linear-gradient(white, #f8ceff);

  /* Set a specific height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*asdfasdfasdfasdf*/
/*****************************************
*  --------------------------------------*
*  Slick                                 *
*  --------------------------------------*
*****************************************/

.cl {
  height:200px;
  padding:10px;
}

.cl-yellow {
  background: #f1c40f;
}

.cl-blue {
  background: #3498db;
}

.cl-red {
  background: #e74c3c;
}

.slick-active {
  padding: 20px 0;
}

.slick-center {
  transform: scale(1.08)
}

.slick-slide:not(.slick-active) {
  padding: 20px 0;
}

.child {
  width:100%;
}

.slide:not(.slick-active) {
  cursor: pointer;
}

/******************************* Footer *********************************/
.footer {
  background-color: rgba(232, 29, 99, 0.5);
  display: block;
  width: 100%;
  height: 80px;
  color: white;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom:20px; /* Place the button at the bottom of the page */
  right: 25px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: deeppink; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#open{
  background-color: white;
  color: deeppink;
  float-displace: auto;
  padding: 15px;
  border: none;
  cursor: pointer;
  left: 25px;
  z-index: 99;
  position: fixed;
  bottom: 20px;
  border-radius:10px;
}


/* The Overlay (background) */
.footer-overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(255,255,255); /* Black fallback color */
  background-color: rgba(255,255,255,255); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.footer-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color:#ff1493;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */

}

/* When you mouse over the navigation links, change their color */
.footer-overlay a:hover, .footer-overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.footer-overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .footer-overlay a {font-size: 20px}
  .footer-overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.pwd{width:40px;height:20px;line-height:14px;padding-top:2px;}
.pwd_f{color:#BBBBBB;}
.pwd_c{background-color:#F3F3F3;border-top:1px solid #D0D0D0;border-bottom:1px solid #D0D0D0;border-left:1px solid #D0D0D0;}
.pwd_Weak_c{background-color:#FF4545;border-top:1px solid #BB2B2B;border-bottom:1px solid #BB2B2B;border-left:1px solid #BB2B2B;}
.pwd_Medium_c{background-color:#FFD35E;border-top:1px solid #E9AE10;border-bottom:1px solid #E9AE10;border-left:1px solid #E9AE10;}
.pwd_Strong_c{background-color:#3ABB1C;border-top:1px solid #267A12;border-bottom:1px solid #267A12;border-left:1px solid #267A12;}
.pwd_c_r{border-right:1px solid #D0D0D0;}
.pwd_Weak_c_r{border-right:1px solid #BB2B2B;}
.pwd_Medium_c_r{border-right:1px solid #E9AE10;}
.pwd_Strong_c_r{border-right:1px solid #267A12;}
