<footer class="mt-5 footer">
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <!-- The overlay -->

    <div id="myFooter" class="footeroverlay">

        <!-- Button to close the overlay navigation -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeFooter()">&times;</a>

        <!-- Overlay content -->
        <div class="footeroverlay-content">
            <a href="http://localhost:8080/aboutus">About Us</a>
            <a class="disable-nav" href="#">Services</a>
            <a class="disable-nav" href="#">Join Us</a>
            <a class="disable-nav" href="#">Contact Us</a>
        </div>

    </div>

    <!-- Use any element to open/show the overlay navigation menu -->
    <button onclick="openFooter()" id="open">Info</button>

</footer>